.Order{
    width: 85%;
    height: 130px;
    border: 1px solid #ccc;
    box-sizing: border-box ;
    box-shadow: 0 2px 3px #ccc;
    margin: 12px auto;
    border-radius: 10px;
    background-color: blanchedalmond;
    display:flex;
    justify-content:space-between;
    z-index: 100;
    align-items:center;
}

.Data{
    margin-left: 20px;
}

.Burger{
    transform: scale(0.4, 0.45 );
 
}


.Logo{

    height: 80%;

}



@media(min-width: 200px){
    .Order{
        width: 97%;    
    }
    .Order:hover{
        background-color:rgb(255, 217, 161);
        width:98%;
        height: 132px;
    }
}

@media(min-width: 600px){
    .Order{
        width: 85%;    
    }
    .Order:hover {
        background-color:rgb(255, 217, 161);
        width: 86%;
        height: 132px;
    }
}