.Order{
    width: 80%;
    height: 100px;
    border: 1px solid #ccc;
    box-sizing: border-box ;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px auto;
    border-radius: 10px;
    background-color: blanchedalmond;
    display:flex;
    justify-content: space-between;
    z-index: 100;
}

.Data{
    margin-left: 20px;
}



.Logo{

    height: 80%;

}
