.Order{
    width: 85%;
    height: 130px;
    border: 1px solid #ccc;
    box-sizing: border-box ;
    box-shadow: 0 2px 3px #ccc;
    margin: 12px auto;
    border-radius: 10px;
    background-color: blanchedalmond;
    display:flex;
    justify-content:space-between;
    z-index: 100;
    align-items:center
}

.Data{
    margin-left: 20px;
}

.Burger{
    transform: scale(0.45);
}


.Logo{

    height: 80%;

}
