.ContactData {
   background: rgb(250, 209, 120);
    margin: 20px auto;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 12px #ccc;
    box-sizing: border-box;
    border: 1px solid lightskyblue;
}

.Input {
    margin-bottom: 8px;
  box-sizing: border-box;
padding: 8px 10px;
box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
border-radius:10px;
width: 65%;
}

.Modal{
    width: 70px;
    display: block;
}

.Button {
    display: block;
}

.Form {
    display: inline-block;
}

@media (min-width: 600px) {
    .ContactData {
        width: 400px;
    }
}